@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'McLaren', cursive;
}

#container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
}

#heading {
    width: max-content;
    margin-inline: auto;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#card {
    background-color: red;
    width: 25vw;
    height: 70vh;
    margin-inline: auto;
    margin-top: 2vh;
    border: 1px solid white;
}

#rossum {
    position: absolute;
    width: 25vw;
    height: 70vh;
}

#overlay {
    position: absolute;
    width: 25vw;
    height: 70vh;
    background-color: rgba(255, 128, 149, 0.4);
    opacity: 0;
    transition: opacity 250ms;
}

#text {
    color: rgb(221, 221, 221);
    text-shadow: 5px 5px 5px rgb(51, 51, 51);
    position: absolute;
    margin-top: 26rem;
    margin-left: 1rem;
}

#overlay:hover {
    opacity: 1;
}
